push constant 5    // a = 5
push constant 4    // b = 4
push constant 6    // c = 6
call Min.min 3
pop static 0
label END
goto END
// funkcija
function Min.min 1
push argument 0
pop local 0
push argument 1
push local 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
pop local 0
label IF_FALSE0
push argument 2
push local 0
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 2
pop local 0
label IF_FALSE1
push local 0
return
